@model MahikariTai.Models.login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="Website Icon" type="png" href="~/Content/ico/WhatsApp Image 2023-06-07 at 20.29.32.jpeg" />
    <title>Validar</title>
    @Styles.Render("~/Content/css")
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Login</h3>
                                </div>
                                <div class="card-body">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-floating mb-3">
                                            @Html.TextBox("user", null, new { @class = "form-control", @id = "txtUser", @placeholder = "name@example.com" })
                                            <label for="inputUser">User Name</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            @Html.Password("pass", null, new { @class = "form-control", @id = "txtPass", @placeholder = "Password" })
                                            <label for="inputPassword">Password</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                            <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="password.html">Forgot Password?</a>
                                            <button type="submit" class="btn btn-primary" onclick="return validar()">Login</button>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                                </div>
                                <div class="modal fade" id="modalNotFound" tabindex="-1" aria-hidden="true" role="dialog" data-bs-backdrop="static">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary">
                                                <h5 class="modal-title" id="titleModalAse">Usuario No Encontrado</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>El Usuario que ingresó o se encuentra en la Base de Datos</p>
                                                <p>Por favor Ingrese Correctamente las credenciales</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary">Entendido</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/complementos")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            function validar() {
                var usuario = $("#txtUser").val();
                var clave = $("#txtPass").val();
                if (usuario == '') {
                    alert("Ingresa tu Email");
                    $("#txtUser").focus();
                    return false;
                }
                if (clave == '') {
                    alert("Ingresa tu Clave");
                    $("#txtPass").focus();
                    return false;
                }
                return true;
            }


        </script>
    }
</body>

</html>
